@model IEnumerable<Prj_JACV_DemoMVCApp01.Models.GradeReport_Result>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Grades Report - SP</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Code)</th>
            <th>@Html.DisplayNameFor(model=>model.FirstName)</th>
            <th>@Html.DisplayNameFor(model=>model.LastName)</th>
            <th>@Html.DisplayNameFor(model=>model.Course)</th>
            <th>@Html.DisplayNameFor(model=>model.Year)</th>
            <th>@Html.DisplayNameFor(model=>model.Term)</th>
            <th>@Html.DisplayNameFor(model=>model.Grade)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model=>item.Code)</td>
                <td>@Html.DisplayFor(model=>item.FirstName)</td>
                <td>@Html.DisplayFor(model=>item.LastName)</td>
                <td>@Html.DisplayFor(model=>item.Course)</td>
                <td>@Html.DisplayFor(model=>item.Year)</td>
                <td>@Html.DisplayFor(model=>item.Term)</td>
                <td>@Html.DisplayFor(model=>item.Grade)</td>
            </tr>
        }
    </tbody>
</table>