@model Prj_JACV_LogManagementSerilogMVCApp.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovDirector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovDirector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovWorldWideGross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovWorldWideGross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovDateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovDateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
